trigger:
  branches:
    include:
      - 'main'
      - 'develop'

resources:
- repo: self

variables:
  - group: certificado
  - name: node_version
    value: $(NodeVersion)
  - name: package_manager
    value: 'npm'
  - name: m365_tenant_id
    value: $(TenantId)
  - name: m365_client_id
    value: $(ClientId)
  - name: m365_cert_password
    value: $(CertPassword)
  - name: m365_app_id
    value: $(AppID)
  - name: m365_sharepoint_base_url
    value: $(SharePointBaseUrl)
  - name: sppkg_app_name
    value: $(SppkgName)


stages:
- stage: Build
  dependsOn: []
  jobs:
    - template: jobs/build.yml
      parameters:
        working_directory: $(Build.SourcesDirectory)
        package_manager: ${{ variables.package_manager }}
        node_version: ${{ variables.node_version }}


- stage: Deploy_Dev
  dependsOn:
    - Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
  jobs:
    - template: jobs/deploy-stage.yml
      parameters:
        display_name: Deploy to development
        target_environment: Development
        node_version: ${{ variables.node_version }}
        m365_app_catalog_site_url: $(SiteUrlDev)
        m365cli_app_catalog_scope: sitecollection
        m365cli_deploy_extra_arguments: '--skipFeatureDeployment'


- stage: Deploy_Prod
  dependsOn:
    - Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
    - template: jobs/deploy-stage.yml
      parameters:
        display_name: Deploy to production
        target_environment: Production
        node_version: ${{ variables.node_version }}
        m365_app_catalog_site_url: $(SiteUrlProd)
        m365cli_app_catalog_scope: sitecollection
        m365cli_deploy_extra_arguments: '--skipFeatureDeployment'

